<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="/css/home_style/img/logos/preview.png" />
  <title>Helsinki Climate</title>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- Favicon, Preview -->
  <!-- <link rel="shortcut icon" type="image/png" href="/favicon.png"/> -->
  <link rel="icon" href="/favicon.png" type="image/png" sizes="16x16">

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link rel="stylesheet" href="{{ "../css/home_style/style.css" | prepend: site.baseurl }}">

  <!--Remove image dragging -->
  <BODY ondragstart="return false;" ondrop="return false;">

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/kah3fyy.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>