<div id="organisers">
    <div id="organisers-bottom" class="row organisers-bottom">
        <div class="col-md-3 col-sm-6 vertical-align">
            <img src="../css/home_style/img/logos/greenpeace.png" class="img-responsive img-centered" alt="">
        </div>
        <div class="col-md-3 col-sm-6 vertical-align">
            <img src="../css/home_style/img/logos/demoshelsinki.png" class="img-responsive img-centered" alt="">
        </div>
        <div class="col-md-3 col-sm-6 vertical-align">
            <img id="ilmastoveivi" src="../css/home_style/img/logos/ilmastoveivi.png" class="img-responsive img-centered" alt="">
        </div>
        <div class="col-md-3 col-sm-6 vertical-align">
            <img id="sitra" src="../css/home_style/img/logos/sitra.png" class="img-responsive img-centered" alt="">
        </div>
    </div>
</div>