<div id="organisers">
    <div class="organisers-bottom row">
        <div class="col-md-3 col-sm-6 ">
            <img src="../css/home_style/img/logos/ilmastoveivi.png" id="ilmastoveivi"
                class="img-responsive img-centered" alt="">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="../css/home_style/img/logos/demoshelsinki.png" id="demoshelsinki"
                class="img-responsive img-centered" alt="">
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="../css/home_style/img/logos/greenpeace.png" id="greenpeace" class="img-responsive img-centered"
                alt="">
        </div>
    </div>
    <div class="organisers-bottom row text-center">
        <div class="col-md-12 col-sm-12 ">
            <h2>Supported by</h2>
        </div>
    </div>
    <div class="organisers-bottom-partners row">
        <div class="col-md-3 col-sm-6 ">
                <img src="../css/home_style/img/logos/jawr-logo.png" id="jawr"
                    class="img-responsive img-centered" alt="">
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="row">
                <img src="../css/home_style/img/logos/sitra.png" id="sitra" class="img-responsive img-centered"
                    alt="" />
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="row">
                <img src="../css/home_style/img/logos/smartclean.png" id="smartclean"
                    class="img-responsive img-centered" alt="" />
            </div>
        </div>
    </div>
    <div class="organisers-bottom row text-center">
        <div class="col-md-12 col-sm-12 ">
            <a id="privacy-policy" href="https://www.demoshelsinki.fi/en/privacy-policy/">Privacy policy</a>
        </div>
    </div>
</div>