<section id="subscribing">
    <div class="intro-text">
        <div class="row text-left">
            <h2 class="text">Stay tuned</h2>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <p class="intro-lead-in text">
                    Receive news on what's to come
                </p>
                <p class="text">
                    By subscribing to our newsletter, you'll receive updates about the event.
                </p>
            </div>
            <div class="col-xs-6 text-center">
                <a href="" class="page-scroll btn btn-xl">Keep me posted</a>
            </div>
        </div>
    </div>
</section>