<!-- <section id="subscribing">
    <div class="intro-text">
        <div class="row text-left">
            <h2 class="text">Stay tuned</h2>
        </div>
    </div>
    <div class="row vertical-align">
        <div class="col-xs-6">
            <p class="intro-lead-in text">
                    RECEIVE NEWS<br/> ON WHAT'S TO<br/> COME
            </p>
            <p class="text">
                By subscribing to our newsletter, you'll receive updates about the event.
            </p>
        </div>
        <div class="col-xs-6">
            <div>
                <a href="" class="page-scroll btn btn-xl">Keep me posted</a>
                </div>
            </div>
        </div>
</section> -->